<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets>
    <target xsi:type="File"
            name="logfile"
            fileName="${basedir}/logs/app-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger:shortName=true}|${message}${onexception:inner= | EXCEPTION: ${exception:format=tostring}}"
            archiveEvery="Day"
            maxArchiveFiles="30"
            encoding="utf-8"
            keepFileOpen="false"
            concurrentWrites="true" />

    <target xsi:type="ColoredConsole"
            name="console"
            layout="${time}|${level:uppercase=true}|${logger:shortName=true}|${message}${onexception:inner= | ${exception:format=message}}" >
      <highlight-row condition="level == LogLevel.Error"   foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Warn"    foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Info"    foregroundColor="Green" />
      <highlight-row condition="level == LogLevel.Debug"   foregroundColor="Gray" />
    </target>
  </targets>

  <rules>
    <!-- Suppress noisy framework logs -->
    <logger name="Microsoft.EntityFrameworkCore.Database.Command" maxlevel="Debug" final="true" />
    <logger name="Microsoft.AspNetCore.Hosting.Diagnostics"       maxlevel="Info"  final="true" />
    <logger name="Microsoft.AspNetCore.StaticFiles.*"              maxlevel="Info"  final="true" />
    <logger name="Microsoft.*" maxlevel="Warn" writeTo="console" final="true" />
    <logger name="System.*"    maxlevel="Warn" writeTo="console" final="true" />
    <!-- All app logs -->
    <logger name="*" minlevel="Debug" writeTo="logfile,console" />
  </rules>
</nlog>
